/* css reset start  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: none;
    user-select: none;
}

/* css reset start  */

/* html start  */

html {
    scroll-behavior: smooth;
}

/* html end  */

/* header start  */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    background-color: transparent;
    z-index: 1000;
}

header .fa-solid {
    display: none;
}

header .left {
    margin-left: 30px;
}

header .left a h1 {
    font-size: 30px;
    color: darkorchid;
    cursor: pointer;
}

header .right nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 70px;
}

header .right nav ul li a {
    font-size: 21px;
    color: darkorchid;
    cursor: pointer;
    padding: 3px 9px;
    font-weight: bold;
}

header .right nav ul li a.active {
    border-bottom: 2px solid darkorchid;
}

/* header end  */

/* progress bar start  */

.progress {
    height: 5px;
    width: 100%;
    position: fixed;
    top: 8vh;
    z-index: 1000;
}

.highlight {
    transition: width 0.5s linear;
    width: 0%;
    background-color: darkorchid;
    height: 100%;
}

/* progress bar end  */

/* cookie set start  */

.cookie {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0px;
    background-color: darkorchid;
    border: 1px solid darkorchid;
    position: fixed;
    bottom: 0;
    z-index: 10;
    box-shadow: 0px -3px 176px 157px black;
    margin: 0 5px;
    visibility: hidden;
}

.cookie.hide {
    display: none;
}

.cookie .left {
    width: 60%;
    padding: 0 15px;
}

.cookie .left h2 {
    padding-bottom: 5px;
    color: white;
    font-size: 25px;
}

.cookie .left p {
    color: white;
    font-size: 17px;
}

.cookie .left p span {
    color: blue;
    text-decoration: underline;
    font-weight: 100;
    padding-left: 5px;
    cursor: pointer;
}

.cookie .right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 40%;
    padding: 0 15px;
}

.cookie .right .preference {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: darkorchid;
}

.cookie .right .reject {
    padding: 5px 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: darkorchid;
}

.cookie .right .accept {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: darkorchid;
}

/* cookie set end  */

/* home section start  */

#home {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#home .left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
    padding-left: 60px;
}

#home .left h1 {
    font-size: 40px;
}

#home .left p {
    font-size: 20px;
}

#home .left a {
    font-size: 18px;
    background-color: darkorchid;
    padding: 5px 25px;
    border-radius: 16px;
    color: white;
    cursor: pointer;
}

#home .right {
    width: 50%;
    background-image: url(../images/Home-Right-Picture.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
}

#home .right .home-picture {
    width: 60%;
}

#home .right .home-overlay {
    width: 30%;
    position: absolute;
}

/* home section end  */

/* service section start  */

#services {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-image: url(../images/Services-Left-picture-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: top left;
}

#services .upper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 15%;
}

#services .upper h1 {
    font-size: 30px;
    color: black;
}

#services .upper p {
    font-size: 17px;
    color: black;
}

#services .lower {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 10%;
}

#services .lower .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-image: url(../images/Services-Left-picture-2.png);
    border-radius: 15px;
    padding: 15px 0px;
}

#services .lower .feature h3 {
    font-size: 20px;
    color: darkorchid;
}

#services .lower .feature p {
    font-size: 17px;
    color: black;
}

#services .lower .feature a {
    font-size: 17px;
    color: white;
    background-color: darkorchid;
    padding: 5px 20px;
    border-radius: 25px;
    cursor: pointer;
}

/* service section end  */

/* why us section start  */

#why-us {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-image: url(../images/Why-Us-Left-picture-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: top right;
    margin-top: 50px;
}

#why-us .upper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0 15%;
}

#why-us .upper h1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

#why-us .upper p {
    font-size: 17px;
    color: black;
}

#why-us .upper a {
    font-size: 17px;
    color: white;
    background-color: darkorchid;
    padding: 5px 20px;
    border-radius: 25px;
    cursor: pointer;
}

#why-us .lower {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 10%;
}

#why-us .lower .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-image: url(../images/Why-Us-Left-picture-2.png);
    background-position: center;
    border-radius: 15px;
    padding: 15px 0px;
}

#why-us .lower .feature h3 {
    font-size: 20px;
    color: darkorchid;
}

#why-us .lower .feature p {
    font-size: 17px;
    color: black;
}

/* why us section end  */

/* contact section start */

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background-image: url("../images/Contact-Left-Picture.png"), url("../images/Contact-Right-PIcture.png");
    background-position: center left, center right;
    background-repeat: no-repeat, no-repeat;
    background-size: 10%, 34%;
    padding: 5% 10%;
}

#contact .left {
    width: 50%;
    display: flex;
    justify-content: center;
}

#contact .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 50%;
}

#contact .right h1 {
    font-size: 30px;
    color: black;
}

#contact .right p {
    font-size: 17px;
    color: black;
}

#contact .right ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact .right ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

#contact .right ul li i {
    font-size: 14px;
    color: black;
}

/* contact section end */

/* contact-info section start  */
#contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;

    background-image: url(../images/Why-Us-Left-picture-1.png), url("../images/Services-Left-picture-1.png");

    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center right, center left;

    padding: 5% 10%;
}

#contact-info i {
    font-size: 40px;
    color: darkorchid;
}

#contact-info h1 {
    font-size: 30px;
    color: darkorchid;
}

#contact-info p {
    font-size: 17px;
    color: black;
    text-align: center;
    padding: 0 70px;
}

#contact-info form {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
}

#contact-info form div {
    position: relative;
}

#contact-info form div input[type="email"] {
    outline: none;
    padding: 6px 115px 6px 46px;
    border-radius: 25px;
    font-size: 14px;
    border: 1px solid darkorchid;
}

#contact-info form div i {
    position: absolute;
    left: 10px;
    font-size: 30px;
}

#contact-info form div button[type="submit"] {
    position: absolute;
    right: 1px;
    font-size: 20px;
    top: 1px;
    background: darkorchid;
    padding: 2px 10px;
    border-radius: 25px;
    border: 1px solid darkorchid;
    color: white;
    cursor: pointer;
}

/* contact-info section end  */

/* projects section start  */

#projects {
    background: darkorchid;
    color: #fff;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    gap: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#projects .counter {
    font-size: 45px;
    margin: 10px 0;
}

/* projects section end  */

/* footer start  */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
    background-image: url("../images/Footer-Background.png");
    background-size: cover;
    padding-bottom: 5px;
}

footer .upper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 8% 10% 0%;
}

footer .upper .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

footer .upper .left h1 a {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

footer .upper .left p {
    font-size: 17px;
    color: white;
}

footer .upper .left ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer .upper .left ul li:nth-child(1) a i {
    font-size: 25px;
    color: red;
    cursor: pointer;
}

footer .upper .left ul li:nth-child(2) a i {
    font-size: 25px;
    color: blue;
    cursor: pointer;
}

footer .upper .left ul li:nth-child(3) a i {
    font-size: 25px;
    color: skyblue;
    cursor: pointer;
}

footer .upper .left ul li:nth-child(4) a i {
    font-size: 25px;
    color: blue;
    cursor: pointer;
}

footer .upper .right {
    display: flex;
    width: 50%;
    justify-content: center;
}

footer .upper .right ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .upper .right ul li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
}

footer .upper .right ul li:nth-child(1) i {
    color: black;
    font-size: 20px;
}

footer .upper .right ul li:nth-child(2) i {
    color: black;
    font-size: 20px;
}

footer .upper .right ul li:nth-child(3) i {
    color: black;
    font-size: 20px;
}

footer .upper .right ul li:nth-child(4) i {
    color: black;
    font-size: 20px;
}

footer .lower p {
    font-size: 17px;
    color: darkorchid;
}

footer .lower p a {
    color: darkorchid;
    font-size: 19px;
    cursor: pointer;
}


/* footer end  */


/* custom scrollbar start */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: darkorchid;
    border-radius: 4px;
    border: 1px solid blue;
}

/* custom scrollbar end */

/* pwa update message start */

#snackbar {
    display: none;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 30px;
}

#snackbar.show {
    display: block;
}

#snackbar p {
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
}

#reload {
    font-size: 20px;
    cursor: pointer;
}

/* pwa update message end */